* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Always use LF for code files
*.php text eol=lf
*.js  text eol=lf
*.vue text eol=lf
*.sh  text eol=lf

# Windows batch files can use CRLF
*.bat text eol=crlf